.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 0;
}

#main-body {
  height: calc(100vh - 68px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-body h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.view-button {
  padding: 2rem 4rem;
  font-size: 2rem;
  margin: 10px;
}

i {
  margin-right: 15px;
}
